.dimension_img{
    width: 489px;
    height: 339px;
    margin: 40px;
}
.dimension_text{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 480;
    font-size: 70px;
    line-height: 82px;
    margin: 40px;
    
    color: #000000;
}
.dimension_btn{
    color: #757575;
    cursor: pointer;
    background-color: #1d7fa8;
    border: 1px solid #757575;
    margin: 10px;
    padding: 0.475rem 3rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    color: black !important;
}
.dimension_text_nav{
    font-family: 'Roboto' sans-serif;
    font-size: 30px;
    line-height: 35px;
    justify-content: space-between;
    background: linear-gradient(217deg,#f37214, #1d7fa8 70.71%);
}