*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 80%;
    height: 100vh;
    padding: 0, 8%;
    margin: 0 auto;
}

.conheca_servicos h2{
    text-align: center;
    padding-top: 10%;
}
.row_servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 30px
}
.servico img{
    width: 86px;
    height: 86px;
}
.servico{
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 12px 0px;
    cursor: pointer;
    background: transparent;

    transform: translate(12px, 50%)
}
.servico:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
    background-color: #F58709;
    color: #fff;
}


