@import '../../../styles/styleGlobal.scss';
.dados{
    margin-left: 208px;
    margin-top: 50px;
    padding: 10px;
    width: 351px;
    height:235px;
    color: var( --color-white-regular);
    background-color: var(--color-secondary-ligth);
    border-radius: 10px;

    i{
        color: var(--color-tertiary-ligth);
        margin-left: 242px
    }
    
    input{
        
        @include p-bold-short-text; 
        color: var( --color-white-regular);
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--color-tertiary-ligth);
        width: 140px;
        margin-right: 40px;
        &:focus{
            box-shadow: 0 0 0 0;
            outline: 0;
        }
    }

    p{
        @include small-bold; 
        margin-bottom: 0px;
    }

    .edit{
        p{
            margin-left: 180px ;
        }
    }

    .completed{
        input{
            width: 320px;
        }
    }


}

//pagamentos

.product {
    margin-top: 50px;
    margin-right: 133px;
    width: 521px;
    padding: 10px;
    height: auto;
    background-color: var( --color-primary-regular);
    color: var(--color-white-regular);
    border-radius: 10px;

    h5{
        @include h5-bold;
    }

    h6{
        @include h6-bold;
    }

    input{
        background-color: transparent;
        border: none;
        width: 300px;
        height: 80px;
        color: var(--color-white-regular);
    }input:focus{
        box-shadow: 0 0 0 0;
        outline: 0;
    }
}

.definicao {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-tertiary-ligth);
    margin-top: 30px
}

#btn {
    @include button-primary;
    padding: 10px;
    margin:0 auto;
    margin-top: 30px;
}

::placeholder{
    color: var(--color-white-regular);
    opacity: 0.6;
}

::selection{
    color: var(--color-tertiary-ligth);
}
