/* Padrão de css reset
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, small, strong, sub,
b, dd, ol, ul, li,
footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.cabecalho{
    width: 100%;
    height: 10vh;
    background-color: #c3c3c3;
}
.cabecalho__dimension {
    display: flex;
    align-items: center;
    padding: 0 20px ;
}
.cabecalho__dimension-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    width: 1200px;
    align-items: center;
    list-style-type: none;
}
.cabecalho__dimension-container a {
    padding: 0px 50px;
    text-decoration: none;
    color: #122232;
}
.carousel-inner{
    height: 10vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
.carousel-inner img{
    width: 70px;
    height: 70px;
    margin: 0px 170px;
    border-radius: 10px;
} */