* {
  font-family: 'Nunito', sans-serif;
}

html {
  --color-primary-dark: #E35602;
  --color-primary-regular: #F75C00;
  --color-primary-ligth: #F37214;
  --color-secondary-dark: #001634;
  --color-secondary-regular: #001A3E;
  --color-secondary-ligth: #00265C;
  --color-tertiary-dark: #13947B;
  --color-tertiary-regular: #2ED9B8;
  --color-tertiary-ligth: #67DBC5;
  --color-white-dark: #F9F9F9;
  --color-white-regular: #F7F6F5;
  --color-white-ligth: #F4F0EB;
  --color-black-dark: #151515;
  --color-black-regular: #242424;
  --color-error: #E77F70;
  --color-sucess: #BFFE58;
  --color-warning: #F9D75F;
  color: var(--color-white-ligth);
}

.registration__dimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.registration__dimension-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1153px;
  height: 648px;
  background-color: var(--color-primary-ligth);
  margin: 75px;
  border-radius: 10px;
}

.registration__dimension-container .col-6 {
  width: 500px;
}

.registration__dimension-container .col-6 input {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-white-regular);
  width: 350px;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px var(--color-white-regular);
  margin-bottom: 15px;
  margin-left: 100px;
}

.registration__dimension-container .col-6 input:focus, .registration__dimension-container .col-6 input select:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  outline: 0;
}

.registration__dimension-container .col-6 input::-webkit-input-placeholder {
  color: var(--color-white-regular);
  opacity: 0.7;
}

.registration__dimension-container .col-6 input:-ms-input-placeholder {
  color: var(--color-white-regular);
  opacity: 0.7;
}

.registration__dimension-container .col-6 input::-ms-input-placeholder {
  color: var(--color-white-regular);
  opacity: 0.7;
}

.registration__dimension-container .col-6 input::placeholder {
  color: var(--color-white-regular);
  opacity: 0.7;
}

.registration__dimension-container .col-6 form button {
  background-color: transparent;
  width: 0px;
  height: 0px;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  color: var(--color-tertiary-regular);
}

.registration__dimension-container .col-6 .span {
  margin-left: 50px;
}

.registration__dimension-container .col-6 button {
  font-size: 24px;
  color: var(--color-white-regular);
  background-color: var(--color-secondary-ligth);
  padding: 15px 24px;
  margin: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 256px;
  height: 56px;
  margin: auto 30%;
  margin-top: 20px;
}

.registration__dimension-container .col-6 hr {
  height: 2px;
  color: black;
}

.registration__dimension-container .col-6 span {
  font-size: 24px;
  color: var(--color-white-regular);
  margin: 0px 30px;
}

.registration__dimension-container .col-6 .redirecionar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

.registration__dimension-container .col-6 .face {
  background-color: #1A75FD;
  width: 400px;
}

.registration__dimension-container .col-6 .face i {
  font-size: 40px;
  margin-right: 15px;
}

.registration__dimension-container .col-6 .google {
  background-color: var(--color-white-dark);
  color: var(--color-black-dark);
  width: 366px;
}

.registration__dimension-container .col-6 .google i {
  font-size: 33px;
  margin-right: 20px;
}

.registration__dimension-container .col-6 .google img {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 20px;
}

.registration__dimension-container .division {
  border-left: solid 3px var(--color-tertiary-regular);
  margin-left: 30px;
  padding-right: 15px;
}

.registration__dimension-container h3 {
  font-weight: 700;
  font-size: 43px;
  color: var(--color-white-regular);
  text-align: center;
  margin-top: 50px;
}

.registration__dimension-container p {
  font-size: 16px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 12px;
  text-align: center;
  margin-top: 30px;
}

.registration__dimension-container img {
  margin-left: 80px;
  margin-top: 50px;
}

.registration__dimension-container h6 {
  font-size: 18px;
  color: var(--color-white-regular);
  margin-top: 20px;
}

.registration__dimension-container h6 span {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-white-regular);
  color: var(--color-secondary-ligth);
}
/*# sourceMappingURL=cadastro2.css.map */