@import 'styleGlobal';

.solicitacao{
    form{
        align-items: center;
    }

    .cadastro_solicitacao{
        display:flex;
        max-width: 1050px;
        margin: 70px auto;

        background-color: var(--color-secondary-ligth);
        color: var( --color-white-regular);
        border-radius: 20px;
        padding: 20px;

        div{
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }

        button{
            @include button-CTA();
        }
    }
    


}

