
  @import 'styleGlobal';
  *{
      font-family: 'Nunito', sans-serif;
  }

/* HEADER--------------------------------------------------------- */

.nav-item{
    margin-left: 20px;
}

hr{
    width: 920px;
    color: #fff;
}

html {
    overflow-x: hidden;
}



.herosection{
    background-color: var(--color-primary-ligth);
    color: #fff;

    section {
        article {
            div{

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 700px;

                a {
                    width: 400px;
                    text-decoration: none;
                    button{
                        width: 300px;
                    }
                }
            }
        }
    }

}
.steps {
    background-color: var(--color-secondary-ligth);
    color: #fff;

    
        button {
            @include button-CTA();
            margin: 50px auto;
        }
        
        a {
            text-decoration: none;
        }
}
.services{
    background-color: var(--color-tertiary-ligth);
    color: #fff;
    height: 680px;
}
.dimension_img{
    width: 530px;
    height: 339px;
    margin: 40px;
    margin-left: 150px;
}
.dimension_text{
    @include h1-bold();
    width: 700px;
    margin-top: 10px;
    margin-left: 30px;
}
.dimension_btn{
     @include  button-primary();
}
.dimension_btn2{
    @include  button-secondary();
}
.dimension_text_nav{
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
    line-height: 35px;
    justify-content: space-between;
    background-color: var(--color-primary-regular);
    a {
        color: #fff !important;
    }
}

/* inicio SERVICOS--------------------------------------------------------- */
.conheca_servicos{
    width: 80%;
    height: 100vh;
    padding: 0, 8%;
    margin: 0 auto;

    div {
        h2 {
            @include h2-bold;
            font-family: 'Nunito';
            color: var(--color-secondary-regular);
        }
    }
}
.conheca_servicos h2{
    text-align: center;
    padding-top: 10%;
    font-family: 'Roboto',sans-serif;
}
.row_servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 30px
}

/* Como funciona */

.como_funciona{
   width: 1000px;
   align-items: center;
   margin-left: 200px;
   margin-top: 50px;

}



.como_funciona > .row > .dimension{
    margin-top: 62px;
 }

.como_funciona div > p{
    width: 300px;
    font-size: 20px;
 }

 .como_funciona div > h2{
    margin-bottom: 20px;
 }


/*  */

.servico_blue img{
    width: 86px;
    height: 86px;
}
.servico_blue{
    background-color: var(--color-secondary-ligth);
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 12px 0px;
    cursor: pointer;
    // background: transparent;
    color: #fff;

    transform: translate(12px, 50%)
}

.servico_orange{
    background-color: var(--color-primary-ligth);
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 12px 0px;
    cursor: pointer;
    color: #fff;

    transform: translate(12px, 50%)
}
.servico:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
    // background-color: #F58709;
    color: #fff;
}

/* fim SERVICOS--------------------------------------------------------- */


/* inic---VANTAGENS------------------------------------------------------ */


.vantagens{
    width: 80%;
    padding: 0, 8%;
    margin: 0px auto;

    h2 {
        @include h2-bold();
        color: var(--color-primary-regular);
    }
    
    .cards_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 400px;
        height: 300px;
        border-radius: 20px;
        background-color: gray;
        margin-right: 70px;
        left: 30px;

    .img {
        height: 55%;
    }

    .text {
        height: 47%;
        background-color: var(--color-secondary-ligth);
        border-radius: 0px 0px 20px 20px;
        margin: -1px;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;

        p{
            margin: 0px 10px;
            width: 210px;
        }
    }
    }
}

// .vantagens .cards h5{
//     font-size: 50px;
// }
// .cards{
//     display: flex;
//     justify-content: space-evenly;
// }



/* fim VANTAGENS--------------------------------------------------------- */

footer{
    width: 100%;
    min-height: 150px;
    background-color: var(--color-primary-ligth);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    color: #fff;
}
footer .boxs{
    max-width: 500px;
    min-height: 150px;
    padding: 80px; 

    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    i{
        color: var(--color-primary-ligth);
        margin-top: 14px;
        font-size: 40px;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -85px;
    }

    .redes{
        width:67px;
        height:67px;
        background-color: var(--color-white-regular);
        margin: 20px;
        border-radius: 20px;
    }
}

.boxs h2{
    @include h5-bold;
    margin-bottom: 60px;
    
}
.boxs ul {
    margin:10px 0px;
    list-style: none;
}
.boxs a{
    text-decoration: none;  
    color: #fff;
}
.boxs p{
    text-align: justify; 
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 243, 243);
    padding: 0px 2px;
}
.rodape{
    @include p-bold-short-text;
    text-align: center;
    background-color: var(--color-secondary-regular);
    color: rgb(255, 255, 255);
    margin: 0;
}

// Animação

[data-step] {
    opacity: 0;
    transition: .4s;
  }
  
  [data-step="left"] {
    transform: translate3d(-50px, 0, 0);
  }
  
  [data-step="right"] {
    transform: translate3d(50px, 0, 0);
  }
  
  [data-step="top"] {
    transform: translate3d(0, -50px, 0);
  }
  
  [data-step].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }

  