html {
    --color-primary-dark: #E35602;
    --color-primary-regular: #F75C00;
    --color-primary-ligth: #F37214;
    --color-secondary-dark: #001634;
    --color-secondary-regular: #001A3E;
    --color-secondary-ligth: #00265C;
    --color-tertiary-dark: #13947B;
    --color-tertiary-regular: #2ED9B8;
    --color-tertiary-ligth: #67DBC5;

    --color-white-dark: #F9F9F9;
    --color-white-regular: #F7F6F5;
    --color-white-ligth: #F4F0EB;
    --color-black-dark: #151515;
    --color-black-regular: #242424;

    --color-error: #E77F70;
    --color-sucess: #BFFE58;
    --color-warning: #F9D75F;


  }

@mixin button-primary {
    background-color: var(--color-primary-dark);
    color: #fff;
    font-size: 21px;
    padding: 15px 24px;
    margin: 20px;
}

*{
    font-family: 'Josefin Sans', sans-serif;
}
/* HEADER--------------------------------------------------------- */

hr{
    width: 920px;
}
.dimension_img{
    width: 489px;
    height: 339px;
    margin: 40px;
}
.dimension_text{
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 480;
    font-size: 70px;
    line-height: 78px;
    margin: 40px;
    color: #000000;
}
.dimension_btn{
    color: #757575;
    cursor: pointer;
    background-color: #1d7fa8;
    border: 1px solid #757575;
    margin: 10px;
    padding: 0.475rem 3rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    color: black !important;
    // @include  button-primary
}
.dimension_text_nav{
    font-family: 'Roboto' sans-serif;
    font-size: 20px;
    line-height: 35px;
    justify-content: space-between;
    background: linear-gradient(217deg,#f37214, #1d7fa8 70.71%);
}

/* inicio SERVICOS--------------------------------------------------------- */
.conheca_servicos{
    width: 80%;
    height: 100vh;
    padding: 0, 8%;
    margin: 0 auto;
}
.conheca_servicos h2{
    text-align: center;
    padding-top: 10%;
    font-family: 'Roboto',sans-serif;
}
.row_servicos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 30px
}

/* Como funciona */

.como_funciona{
   width: 1000px;
   align-items: center;
   margin-left: 200px;
   margin-top: 50px;
}

.como_funciona > .row > .dimension{
    margin-top: 62px;
 }

.como_funciona div > p{
    width: 300px;
    font-size: 20px;
 }

 .como_funciona div > h2{
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif;
 }


/*  */

.servico img{
    width: 86px;
    height: 86px;
}
.servico{
    text-align: center;
    padding: 25px 10px;
    border-radius: 14px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 12px 0px;
    cursor: pointer;
    background: transparent;

    transform: translate(12px, 50%)
}
.servico:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
    background-color: #F58709;
    color: #fff;
}

/* fim SERVICOS--------------------------------------------------------- */


/* inic---VANTAGENS------------------------------------------------------ */


.vantagens{
    width: 80%;
    padding: 0, 8%;
    margin: 0px auto;
}

.vantagens .cards h5{
    font-size: 50px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
}



/* fim VANTAGENS--------------------------------------------------------- */

/* Carrosel */
.carousel-inner{
    height: 10vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
.carousel-inner img{
    width: 70px;
    height: 70px;
    margin: 0px 170px;
    border-radius: 10px;
}

/* Footer */
/* .conteudo{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.conteudo h1{
    font-size: 5vw;
    text-transform: uppercase;
    
} */
footer{
    width: 100%;
    min-height: 150px;
    background: linear-gradient(140deg, #1D7FA8,#F37214);
    display: flex;
    margin-top: 50px;
}
footer .boxs{
    width: 320px;
    min-height: 150px;
    padding: 80px; 
}

.boxs h2{
    color:rgb(0, 0, 0);
    margin-bottom: 20px;
    
}
.boxs ul {
    margin:10px 0px;
    list-style: none;
}
.boxs a{
    color: rgb(0, 0, 0);
    text-decoration: none;   
}
.boxs p{
    color:rgb(0, 0, 0);
    text-align: justify; 
    cursor: pointer;
}
.footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 243, 243);
    padding: 0px 2px;
}
h4{
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0;
}