* {
  font-family: 'Nunito', sans-serif;
}

html {
  --color-primary-dark: #E35602;
  --color-primary-regular: #F75C00;
  --color-primary-ligth: #F37214;
  --color-secondary-dark: #001634;
  --color-secondary-regular: #001A3E;
  --color-secondary-ligth: #00265C;
  --color-tertiary-dark: #13947B;
  --color-tertiary-regular: #2ED9B8;
  --color-tertiary-ligth: #67DBC5;
  --color-white-dark: #F9F9F9;
  --color-white-regular: #F7F6F5;
  --color-white-ligth: #F4F0EB;
  --color-black-dark: #151515;
  --color-black-regular: #242424;
  --color-error: #F13319;
  --color-sucess: #BFFE58;
  --color-warning: #F9D75F;
  color: var(--color-white-ligth);
}

.row {
  margin: 30px 0;
}

.row .card_servico {
  background-color: var(--color-primary-regular);
  color: var(--color-white-regular);
  border-radius: 20px;
  padding: 20px;
  height: 230px;
  font-size: 14px;
  margin: 0 auto;
}

.row .card_servico .prestador {
  background: var(--color-white-regular);
  color: var(--color-secondary-ligth);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
}

.row .card_servico_datahora {
  background-color: var(--color-secondary-ligth);
  color: var(--color-white-regular);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  height: 230px;
  margin: 0 auto;
}

.row .card_servico_datahora i {
  color: var(--color-tertiary-regular);
  margin: 10px;
}

.row .card_servico_datahora button .mudar {
  font-size: 24px;
  color: var(--color-white-regular);
  background-color: transparent;
  border: 2px solid var(--color-tertiary-regular);
  padding: 19px 24px;
  margin: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 256px;
  height: 56px;
  -webkit-transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.row .card_servico_datahora button .mudar:hover {
  border: 2px solid var(--color-tertiary-dark);
}

.row .card_seguranca {
  background-color: var(--color-tertiary-regular);
  color: var(--color-white-regular);
  border-radius: 20px;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.row .card_seguranca h3 {
  color: var(--color-black-dark);
}

.row .card_seguranca .botoes_seguranca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row .card_seguranca .botoes_seguranca .botao_seguranca {
  background-color: var(--color-secondary-ligth);
  color: var(--color-white-regular);
  width: 250px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 15px;
  text-align: center;
}

.row .card_seguranca .botoes_seguranca .botao_seguranca i {
  font-size: 50px;
}

.row .card_seguranca .botoes_seguranca .botao_seguranca #cancel {
  color: var(--color-primary-regular);
}

.row .card_seguranca .botoes_seguranca .botao_seguranca #atention {
  color: var(--color-warning);
}

.row .card_seguranca .botoes_seguranca .botao_seguranca #cops {
  color: var(--color-error);
}
/*# sourceMappingURL=acompanhamento.css.map */