@import 'styleGlobal';

h4{
    @include h4-bold;
}

h5{
    @include h5-bold;
    padding: 8px;
}

.Encontramos{
    color: var( --color-white-regular);
    background-color: var(--color-secondary-ligth);
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
    padding: 20px;
    width: 600px;
}
.prestador{
    background: var(--color-white-regular);
    color: var(--color-secondary-ligth);
    max-width: 340px;
    margin: 0 auto 15px;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;


    #heart{
        color: var(--color-error);
    }

    .star{
        color: var(--color-primary-regular);
    }
}

.Rua{
    display: flex;
    justify-content: center;

    p{
        @include p-bold-short-text;
    }

    i{
        color: var(--color-tertiary-regular);
    }
}

.distance{
    justify-content: center;
    border: solid 2px var(--color-white-regular);
    border-radius: 13px;
    width: 299px;
    margin: auto;
    margin-bottom: 20px;
    
    p{
        display: flex;
        @include p-regular-short-text;
        margin-top: 14px;
        margin-left: 5px;
    }
    span{
        @include h5-regular;
        color: var(--color-tertiary-regular);
        margin: 0px 4px;
    }
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-primary-regular);
    color: var(--color-white-regular);
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;

    p{
        @include p-bold-short-text;
    }

    span{
        @include p-bold-short-text;
        color: var(--color-secondary-ligth);
        margin: 0px 4px;
    }

    .time{
        display: flex;
        background-color: var(--color-white-regular);
        border-radius: 10px;
        height: 70px;
        
        p{
            color: var(--color-black-dark);
            padding: 10px;  
            width: 380px;
        }

        i{
            font-size: 40px;
            color: var(--color-secondary-ligth);
            margin-left: 30px;
            margin-top: 8px;
        }
        span{
            color: var(--color-secondary-ligth);
        }
    }

    .alerta{
        @include x-small-bold;
        padding: 10px;
    }

}

button{
    @include button-CTA;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    width: 350px;
}