* {
  font-family: 'Nunito', sans-serif;
}

html {
  --color-primary-dark: #E35602;
  --color-primary-regular: #F75C00;
  --color-primary-ligth: #F37214;
  --color-secondary-dark: #001634;
  --color-secondary-regular: #001A3E;
  --color-secondary-ligth: #00265C;
  --color-tertiary-dark: #13947B;
  --color-tertiary-regular: #2ED9B8;
  --color-tertiary-ligth: #67DBC5;
  --color-white-dark: #F9F9F9;
  --color-white-regular: #F7F6F5;
  --color-white-ligth: #F4F0EB;
  --color-black-dark: #151515;
  --color-black-regular: #242424;
  --color-error: #F13319;
  --color-sucess: #BFFE58;
  --color-warning: #F9D75F;
  color: var(--color-white-ligth);
}

h4 {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-white-regular);
}

h5 {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-white-regular);
  padding: 8px;
}

.detalhamento {
  background-color: var(--color-primary-regular);
  padding: 20px;
  border-radius: 10px;
}

.detalhamento .d-flex p {
  margin-top: 12px;
  margin-left: 80px;
}

.valor {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 10px;
  background-color: var(--color-white-regular);
  border-radius: 10px;
  color: var(--color-black-dark);
  padding: 10px;
}

.valor button {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--color-secondary-ligth);
}

.valor button:hover {
  background-color: var(--color-secondary-regular);
}

.valor input {
  color: var(--color-white-regular);
  background-color: var(--color-secondary-ligth);
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 50px;
  margin-left: 20px;
  text-align: center;
}

.digite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-secondary-ligth);
  border-radius: 10px;
  padding: 10px;
  width: 340px;
  height: 230px;
}

.digite .tempo {
  color: var(--color-white-regular);
  width: 257px;
  height: 26px;
  border-radius: 5px;
}

.digite .tempo::-webkit-input-placeholder {
  color: var(--color-white-regular);
}

.digite .tempo:-ms-input-placeholder {
  color: var(--color-white-regular);
}

.digite .tempo::-ms-input-placeholder {
  color: var(--color-white-regular);
}

.digite .tempo::placeholder {
  color: var(--color-white-regular);
}

.digite p {
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white-regular);
  line-height: 180%;
}

.digite input {
  color: var(--color-white-regular);
  background-color: var(--color-primary-regular);
  border: none;
  border-radius: 10px;
  width: 126px;
  height: 38px;
  margin-left: 20px;
  text-align: center;
}

.digite input::-webkit-input-placeholder {
  opacity: 0.7;
  color: var(--color-white-regular);
}

.digite input:-ms-input-placeholder {
  opacity: 0.7;
  color: var(--color-white-regular);
}

.digite input::-ms-input-placeholder {
  opacity: 0.7;
  color: var(--color-white-regular);
}

.digite input::placeholder {
  opacity: 0.7;
  color: var(--color-white-regular);
}

.digite h6 {
  font-size: 18px;
  color: var(--color-white-regular);
}

.Encontramos {
  color: var(--color-white-regular);
  background-color: var(--color-secondary-ligth);
  border-radius: 10px;
  margin: 40px 100px;
  padding: 20px;
  width: 800px;
}

.prestador {
  background: var(--color-white-regular);
  color: var(--color-secondary-ligth);
  max-width: 340px;
  margin: 0 auto 15px;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
}

.prestador #heart {
  color: var(--color-error);
}

.prestador .star {
  color: var(--color-primary-regular);
}

.Rua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Rua p {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 12px;
}

.Rua i {
  color: var(--color-tertiary-regular);
}

.distance {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px var(--color-white-regular);
  border-radius: 13px;
  width: 299px;
  margin: auto;
  margin-bottom: 20px;
}

.distance p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 12px;
  margin-top: 14px;
  margin-left: 5px;
}

.distance span {
  font-size: 24px;
  color: var(--color-white-regular);
  color: var(--color-tertiary-regular);
  margin: 0px 4px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-primary-regular);
  color: var(--color-white-regular);
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

.info p {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 12px;
}

.info span {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white-regular);
  line-height: 170%;
  margin-bottom: 12px;
  color: var(--color-secondary-ligth);
  margin: 0px 4px;
}

.info .alerta {
  font-weight: 700;
  font-size: 10px;
  color: var(--color-white-regular);
  line-height: 180%;
  padding: 10px;
}

button {
  font-size: 24px;
  color: var(--color-white-regular);
  background-color: var(--color-primary-regular);
  padding: 15px 24px;
  margin: 20px;
  border-radius: 15px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 305px;
  height: 49px;
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
  width: 350px;
}

button:hover {
  background-color: var(--color-primary-ligth);
}

.confirm {
  width: 341px;
  height: 39px;
  background-color: var(--color-secondary-ligth);
  margin-left: 280px;
}

.confirm:hover {
  background-color: var(--color-secondary-regular);
}

.cancel {
  width: 341px;
  height: 39px;
  background-color: var(--color-error);
  margin-right: 260px;
}

.cancel:hover {
  background-color: var(--color-error);
}

.alinhar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=confirmar_novo_pedido.css.map */