@import 'styleGlobal';

.solicitacao{
    form{
        align-items: center;
    }

    .cadastro_solicitacao{
        display:flex;
        justify-content: space-between;
        max-width: 1050px;
        margin: 70px auto;


        background-color: var(--color-secondary-ligth);
        border-radius: 20px;
        padding: 20px;
        
        div{
            @include h6-bold;
            width: 300px;
            display: flex;
            flex-direction: column;

            input {
                padding: 5px auto;
                border-radius: 10px;
                border: none;
                margin-right: 20px;
                margin-bottom: 15px;
            }

            textarea{
                border-radius: 10px;
            }


            span{
                @include x-small-regular;
                font-weight: 400;
                text-align: left;
                width: 200px;
            }
        }
    }

    .button_solicitar{

        button{
            @include button-CTA();
            text-align: center;
            margin: 0 auto;
            width: 250px;
            padding: 16px 23px;
            
        }
    }
}
.como_funciona{
    margin: 50px 0;
    width: 100%;
    background-color: var(--color-primary-ligth);
    h2{
        @include h2-bold();
    }
}

